# eleccoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.eleccoin
host=127.0.0.1

#mainnet default
port=9832

#testnet default
#port=19832

#regtest default
#port=19843

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=656c6563
genesis=000005d2d633217d7cbe320ab992bb9f5fa5d462e9756aecd30c44742c3acfdc
input=/home/example/.eleccoin/blocks

# testnet
#netmagic=646c6463
#genesis=00000c49a31955f5559a9d164c6ae1523b2ebbddec1d1d5714b259925e177159
#input=/home/example/.eleccoin/testnet3/blocks

# regtest
#netmagic=636c6363
#genesis=15638ade2bf5ed4540b9f90aee75b42cc0bc8ab8cb37c45e1cc7df266b80a83c
#input=/home/example/.eleccoin/regtest/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
